writers:
  plantuml:
    # ----- Layout ----- #
    diagramName: eitri-diagram      # Diagram name inside @startuml
    direction: tb                   # Layout direction: tb or lr
    groupInheritance: 2             # PlantUML groupInheritance value (1+)
    classAttributeIconSize: 8       # PlantUML classAttributeIconSize value (0+)
    
    # ----- Members ----- #
    hidePrivate: false              # Hide private members
    hideProtected: false            # Hide protected members
    hidePackage: false              # Hide package-private members
    hideFields: false               # Hide all fields
    hideEmptyFields: true           # Hide fields compartment on types with no fields
    hideMethods: false              # Hide all methods
    hideEmptyMethods: false         # Hide methods compartment on types with no methods
    hideEmptyMembers: true          # Hide fields/methods compartments on types with no members

    # ----- Visibility ----- #
    showCircle: true                # Hide circle for lollipop interfaces
    showUnlinked: true              # Hide types with no relations
    showStereotypes: true           # Show stereotypes (e.g., <<abstract>>)
    showGenerics: true              # Show generic notation in PlantUML
    showNotes: true                 # Show notes annotations (does nothing now)
    showMultiplicities: true        # Show relation multiplicities
    showLabels: true                # Show relation labels
    showReadOnly: true              # Show read-only modifier for fields
    showVoidReturnTypes: true       # Show : void on methods
    showThrows: false # Show thrown exceptions in method signatures

    # ----- Relations ----- #
    showInheritance: true           # Show extends relations
    showImplements: true            # Show implements relations
    showComposition: true           # Show composition relations
    showAggregation: true           # Show aggregation relations
    showAssociation: true           # Show association relations
    showDependency: true            # Show dependency relations (often noisy when modeling with common and external packages)
    showNested: true                # Show nested types and their relations

    # ----- Packages ----- #
    hideCommonPackages: false       # Hide Java platform packages (java.*, javax.*, sun.*, jdk.*)
    hideExternalPackages: false     # Hide packages outside project root
    hideSiblingPackages: false      # Hide sibling packages not being parsed
