output:
  file: diagram.puml
  name: eitri-diagram
  writerExtension: .puml

input:
  parserExtension: .java

layout:
  direction: tb
  groupInheritance: 2
  classAttributeIconSize: 8

# Visibility filtering
visibility:
  hidePrivate: false
  hideProtected: false
  hidePackage: false

# Member filtering
members:
  hideFields: false
  hideMethods: false
  hideEmptyMembers: true

# Relation filtering
relations:
  showInheritance: true
  showImplements: true
  showComposition: true
  showAggregation: true
  showAssociation: true
  showDependency: false # Often too noisy

# Display
display:
  hideCircle: false
  hideUnlinked: false
  showStereotypes: true
  showGenerics: true
  showNotes: true
  showMultiplicities: true
  showLabels: true
  showGhostTypes: true
  showReadOnly: true
  showVoidReturnTypes: true
